.homePageContainer{
    padding: 6rem 2rem 5rem 2rem;
    background-color: rgb(15, 15, 15);
    color: white;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;

    

    @media (min-width: 840px) {
        padding-top: 5.3rem;   
    }

    h3{
        margin: 1.5rem 0rem 0rem 1rem;
        margin-right: auto;
    }

    .homePageCarouselContainer{
        display: flex;
        flex-direction: column;
        width: 95%;
        overflow: scroll;
        overflow-y: hidden;
        margin-bottom: 4rem;

        .homePageCarousel{
            display: flex;
        }
    }

    .homePageCarouselContainer::-webkit-scrollbar {
        width: 8px; 
        
    }
      
    .homePageCarouselContainer::-webkit-scrollbar-thumb {
        border-radius: 10px;
    }
    
    .artistProfileSection{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 0 1rem;
        margin: 5rem 0 2rem 0;
    }
    
    @media (min-width: 1300px) {
        padding: 6rem 3rem 5rem 3rem;
    }

    @media (min-width: 1500px) {
        padding: 6rem;
    }

    @media (min-width: 1800px) {
        padding: 6rem 10rem 5rem 10rem;
    }
    
   
}